body {
  background-color: bisque;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-elements {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 60%;
}

.name-shop {
  width: 35%;
}

.shop {
  width: 96%;
  height: 25px;
  border-radius: 10px;
  border-color: black;
  font-size: 18px;
}

.expenses {
  width: 24%;
}

.cost {
  width: 96%;
  height: 25px;
  border-radius: 10px;
  border-color: black;
  font-size: 18px;
}

.button-add {
  width: 15%;
  height: 30px;
  margin-top: 50px;
  border-radius: 6px;
  border-color: burlywood;
  background-color: burlywood;
}

.button-add:hover {
  cursor: pointer;
}

.content-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 55%;
}

.total-cost {
  display: flex;
  justify-content: flex-end;
  width: 55%;
  padding: 20px;
  font-size: 19px;
}

.total-cost p {
  margin: 0px;
  margin-right: 5px;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.text-name-shop {
  width: 50%;
  font-size: 19px;
}

.text-cost {
  text-align: end;
  width: 10%;
  font-size: 17px;
}

.container-button {
  display: flex;
  justify-content: space-between;
  width: 15%;
}

.button {
  width: 35px;
  height: 30px;
}

input {
  outline: none;
}