body {
  background-color: bisque;
  display: flex;
  justify-content: center;
}

.main {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 4%;
}

.main-elements {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.name-shop {
  width: 40%;
  height: 100px;
  font-size: 20px;
}

.name-shop p {
  margin: 0;
  margin-bottom: 20px;
}

.shop {
  width: 90%;
  font-size: 15px;
  height: 25px;
}

.expenses {
  width: 40%;
  height: 100px;
  font-size: 20px;
}

.expenses p {
  margin: 0;
  margin-bottom: 20px;
}

.cost {
  width: 90%;
  font-size: 15px;
  height: 25px;
}

.button-add {
  width: 10%;
  height: 30px;
  background-color: burlywood;
  border-radius: 6px;
  border-color: burlywood;
}

.total-cost {
  width: 81%;
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
}

.content-page {
  width: 87%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  justify-content: flex-start;
  font-size: 20px;
  overflow: auto;
  height: 600px;
}

::-webkit-scrollbar {
  opacity: 0;
}

.task {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-name-shop {
  width: 40%;
}

.date {
  width: 20%;
}

.text-cost {
  width: 16%;
  text-align: end;
}

.container-button {
  width: 15%;
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
}

.button {
  width: 40px;
  height: 40px;
}

.input-fixed-text {
  width: 39%;
  font-size: 20px;
}

.input-fixed-date {
  width: 19%;
  font-size: 20px;
}

.input-fixed-cost {
  width: 14%;
  font-size: 20px;
}

@media screen and (max-width:1050px) {
  .main {
    width: 100%;
  }

  h1 {
    font-size: 45px;
  }

  .name-shop {
    font-size: 30px;
  }

  .expenses {
    font-size: 30px;
  }

  .shop {
    font-size: 30px;
    height: 35px;
  }

  .cost {
    font-size: 30px;
    height: 35px;
  }

  .button-add {
    font-size: 25px;
    width: 140px;
    height: 45px;
  }

  .total-cost {
    font-size: 30px;
  }

  .content-page {
    font-size: 30px;
    height: 900px;
  }

  .date {
    width: 16%;
  }
}

@media screen and (max-width:770px) {
  .name-shop {
    font-size: 25px;
  }

  .shop {
    font-size: 25px;
    height: 29px;
  }

  .expenses {
    font-size: 24px;
  }
  .cost {
    font-size: 24px;
    height: 28px;
  }

  .button-add {
    font-size: 20px;
    width: 110px;
    height: 35px;
  }

  .total-cost {
    font-size: 25px;
  }

  .content-page {
    font-size: 25px;
    height: 423px;
  }

  .date {
    width: 18%;
  }

  h1 {
    font-size: 30px;
  }

  .main-elements {
    flex-direction: column;
  }

  .name-shop {
    height: 124px;
    width: 90%;
  }

  .expenses {
    height: 124px;
    width: 90%;
  }

  .input-fixed {
    height: 19px;
    width: 25%;
    font-size: 18px;
  }
}

@media screen and (max-width:440px) {
  .name-shop {
    font-size: 20px;
    height: 100px
  }

  .expenses {
    font-size: 20px;
    height: 100px
  }

  .shop {
    font-size: 20px;
    height: 20px;
  }

  .cost {
    font-size: 20px;
    height: 20px;
  }

  .button-add {
    font-size: 15px;
    width: 95px;
    height: 29px;
  }

  .input-fixed-text {
    width: 26%;
    height: 16px;
    font-size: 16px;
  }

  .input-fixed-date {
    width: 17%;
    height: 18px;
    font-size: 13px;
  }

  .input-fixed-cost {
    width: 15%;
    height: 15px;
    font-size: 16px;
  }

  h1 {
    font-size: 25px;
  }

  .content-page {
    width: 95%;
    font-size: 16px;
    height: 415px;
  }

  .total-cost {
    font-size: 18px;
  }

  .text-cost {
    width: 25%;
  }

  .text-name-shop {
    width: 35%;
  }

  .date {
    width: 24%;
  }

  .container-button {
    margin-left: 10px;
  }

  .button {
    width: 25px;
    height: 25px;
  }
}